@*@model IEnumerable<string>*@
<div class="row">
    <div class="col-md-4">
        <div class="card card-primary card-outline direct-chat direct-chat-primary">
            @*====標題====*@
            <div class="card-header">
                <h3 class="card-title">眼科聊天室</h3>
            </div>
            @*====聊天內容====*@
            <input type="hidden" value="@Model" id="inpUser" />
            <div class="card-body">
                <div class="direct-chat-messages" id="MSN">

                    @*===========(右)內文顯示部分=========*@
                    <!--<div class="direct-chat-msg text-md-end">
                        <div class="direct-chat-infos clearfix">-->
                            @*====姓名====*@
                            <!--<span class="direct-chat-name float-right" id="name_player2">《客服》</span>-->
                            @*====時間====*@
                            <!--<span class="direct-chat-timestamp float-left" id="time_player2"></span>
                        </div>-->
                        @*====頭像照片====*@
                        <!--<img class="direct-chat-img" src="../img/客服.png" alt="Message User Image" style="border-radius: 50%;text-align:right">-->
                        @*====內文====*@
                        <!--<div class="direct-chat-text">
                            <span class="text-bold">您好，很高興為您服務</span>
                        </div>
                    </div>-->
                </div>
            </div>

            @*============尾巴輸入字串的地方=============*@
            <div class="card-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" id="messageInput" name="message" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-primary" id="sendButton" value="Send Message">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}



