@model Medical.ViewModel.CMemberViewModel

@{
    ViewData["Title"] = "AdminLoginMemberList";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}
<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemberId" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityId" class="control-label"></label>
                <input asp-for="IdentityId" class="form-control" />
                <span asp-validation-for="IdentityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDay" class="control-label"></label>
                <input asp-for="BirthDay" class="form-control" />
                <span asp-validation-for="BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IcCardNo" class="control-label"></label>
                <input asp-for="IcCardNo" class="form-control" />
                <span asp-validation-for="IcCardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*使用導覽屬性*@
                <label asp-for="RoleT.RoleName" class="control-label"></label>
                <select asp-for="RoleT.RoleName" class="form-control" id="roleOption"></select>
                <span asp-validation-for="RoleT.RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    <script>
                LoadAdstatue();

    async function LoadAdstatue() {
        const response = await fetch("@Url.Content("~/Admin/AdminMemberList/AdstatueCheckBox")")
        const datas = await response.json();
        datas.forEach(value => {
            const option = new Option(value, value);
            let selAdstatue = document.querySelector("#roleOption");
            selAdstatue.options.add(option);
            $("#roleOption option:first-child").remove();
            $("#roleOption").find("option").attr("value", "Role");        //底下的選項都加入value屬性
            console.log($("#roleOption").first().text());
            console.log($("#roleOption").first().val());
        })
    }


    </script>  
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
