
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3 class="display-3 text-white animated zoomIn">門診時間</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="data_div">
        <div class="data_detail">
            <div class="data_content">
                <table class="table table-bordered  align-middle " style="text-align:center">
                    <thead class="thead-light">
                        <tr style="background-color:cornflowerblue">
                            <th scope="col">時間</th>
                            <th scope="col" width="13%" class="TimeTableColumn">星期一</th>
                            <th scope="col" width="13%" class="TimeTableColumn">星期二</th>
                            <th scope="col" width="13%" class="TimeTableColumn">星期三</th>
                            <th scope="col" width="13%" class="TimeTableColumn">星期四</th>
                            <th scope="col" width="13%" class="TimeTableColumn">星期五</th>
                            <th scope="col" width="13%" class="TimeTableColumn">星期六</th>
                            <th scope="col" width="13%" class="TimeTableColumn">星期日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="background-color:cornflowerblue">上午<br>09:00<br>|<br>12:00</th>
                            <td>
                                <a href="https://localhost:44302/Reserve/ReserveList"><b>楊永定</b></a><br>
                                
                            </td>
                            <td>
                                <a href="http://hansenclinic.com.tw/contents/34/8.html"><b>楊永定</b></a><br>
                                <a href="http://hansenclinic.com.tw/contents/34/99.html"><b>楊翠蟬</b></a><br>
                            </td>
                            <td>
                                <a href="http://hansenclinic.com.tw/contents/34/8.html"><b>楊永定</b></a><br>
                                <a href="http://hansenclinic.com.tw/contents/34/6.html"><b>李明蒼</b></a>
                            </td>
                            <td>
                                <a href="http://hansenclinic.com.tw/contents/34/8.html"><b>楊永定</b></a><br>
                                <a href="http://hansenclinic.com.tw/contents/34/6.html"><b>許榮城(約診)</b></a>
                            </td>
                            <td>
                                <a href="http://hansenclinic.com.tw/contents/34/8.html"><b>楊永定</b></a><br>
                                <a href="http://hansenclinic.com.tw/contents/34/99.html"><b>楊翠蟬</b></a><br>
                            </td>
                            <td>
                                <a href="http://hansenclinic.com.tw/contents/34/8.html"><b>楊永定</b></a><br>
                                <a href="http://hansenclinic.com.tw/contents/34/6.html"><b>施婷婷(約診)</b></a> <br>
                                <a href="http://hansenclinic.com.tw/contents/34/2131.html"><b>林政寬(約診)</b></a>
                            </td>
                            <td class="table-light">休診</td>
                        </tr>
                        <tr>
                            <th style="background-color:cornflowerblue">下午<br>13:00<br>|<br>16:00</th>
                            <td><a href="http://hansenclinic.com.tw/contents/34/7.html"><b>許長禮</b></a></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/7.html"><b>許長禮</b></a></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/7.html"><b>許長禮</b></a></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/7.html"><b>許長禮</b></a><br></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/6.html"><b>李明蒼</b></a><br></td>
                            <td class="table-light">休診</td>
                            <td class="table-light">休診</td>
                        </tr>
                        <tr>
                            <th style="background-color:cornflowerblue">晚上<br>17:00<br>|<br>20:00</th>
                            <td><a href="http://hansenclinic.com.tw/contents/34/2.html"><b>賴蕙萍</b></a><br><span></span></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/8.html"><b>楊永定</b></a><br><span></span></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/8.html"><b>許長禮</b></a></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/9.html"><b>莊文博</b></a><br><span></span></td>
                            <td><a href="http://hansenclinic.com.tw/contents/34/7.html"><b>許長禮</b></a></td>
                            <td class="table-light">休診</td>
                            <td class="table-light">休診</td>
                        </tr>

                    </tbody>    
                </table>

            </div>
        </div>
    </div>
</div>